
@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div id="content">
    <div id="promotion">
        <img src="@Url.Content("~/Content/Client/")image/sb_1538044287_42.jpg" alt="" style="height: 150px;">
    </div>
    <div id="row1" class="row" style="position: relative;">
        <div id="img1">
            <a href="">
                <img src="@Url.Content("~/Content/Client/")image/sb_1542207525_869.jpg" alt=""
                     style="width: 295px;height: 295px;">
            </a>
            <span id="nen1box" class="hotIcon">Hot Trend 1</span>
        </div>
        <div id="img2">
            <a href="">
                <img src="@Url.Content("~/Content/Client/")image/sb_1542099128_872.jpg" alt=""
                     style="width: 655px;height: 285px;">
            </a>
            <span id="nen2box" class="nen1Icon">Gấu bông</span>
        </div>
    </div>
    <div id="row2" class="row">
        <div id="img3">
            <a href="">
                <img src="@Url.Content("~/Content/Client/")image/gaubong.jpg" alt="" style="width: 600px;height: 295px;">
            </a>
            <span id="nen3box" class="nen1Icon">Quà tặng</span>
        </div>
        <div id="img4">
            <a href="">
                <img src="@Url.Content("~/Content/Client/")image/sb_1539883174_612.jpg" alt=""
                     style="width: 350px;height: 295px;">
            </a>
            <span id="nen4box" class="nen2Icon">Hộp quà</span>
        </div>
    </div>
    <div id="row3" class="row">
        <div id="img5">
            <a href="">
                <img src="@Url.Content("~/Content/Client/")image/sb_1539883301_915.jpg" alt=""
                     style="width: 306px;height: 295px;">
            </a>
            <span id="nen5box" class="nen2Icon">Trang sức - Phụ kiện</span>
        </div>
        <div id="img6">
            <a href="">
                <img src="@Url.Content("~/Content/Client/")image/sb_1539883271_452.jpg" alt=""
                     style="width: 307px;height: 295px;">
            </a>
            <span id="nen6box" class="nen1Icon">Phụ kiện tiện ích</span>
        </div>
        <div id="img7">
            <a href="">
                <img src="@Url.Content("~/Content/Client/")image/sb_1542207562_88.jpg" alt="" style="width: 306px;height: 295px;">
            </a>
            <span id="nen7box" class="hotIcon">Khu vực giảm giá</span>
        </div>
    </div>
    <div id="row4" class="row">
        <div id="img8">
            <a href="">
                <img src="@Url.Content("~/Content/Client/")image/sb_1445670596_683.jpg" alt=""
                     style="width: 600px;height: 300px;">
            </a>
            <span id="nen8box" class="nen2Icon">Halloween</span>
        </div>
    </div>
    <div id="row5">
        <div id="col1">
            <span id="nen9box" class="nen3Icon">Nói về Nhóc</span>
            <div id="about">
                <div class="row">
                    <div id="imgSocial">
                        <img src="@Url.Content("~/Content/Client/")image/social.jpg" alt="" style="width: 100%;">
                    </div>
                    <div>
                        <div style="position: absolute;left: 390px;bottom: -1070px;">
                            <img src="@Url.Content("~/Content/Client/")image/icon_1.png" alt="">
                        </div>
                        <div id="frmComment">
                            <div id="borderCmt">

                            </div>
                        </div>
                    </div>
                </div>
                <p class="loveIcon" style="margin-left: 100px;"></p>
                <div class="row">
                    <div id="imgLogo">
                        <img src="@Url.Content("~/Content/Client/")image/nhoc-logo.png" style="width: 100%;" alt="">
                    </div>
                </div>
                <div>
                    <div style="position: absolute;left: 360px;bottom: -1182px;">
                        <img src="@Url.Content("~/Content/Client/")image/icon_1.png" alt="">
                    </div>
                    <div id="frmThanks">
                        <div id="borderThks">
                            <p style="font-size: 13px;margin-left: -1px;margin-top: 4px;">
                                Cảm ơn bạn đã ủng
                                hộ
                                Nhóc nhé !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="col2">
            <span id="nen9box" class="nen3Icon">Dịch vụ</span>
            <div id="frmService">
                <div id="contentService">
                    <ul>
                        <li>
                            <i class="fas fa-heart colorPink heartIcon"></i>
                            <a href="" class="colorPink">Dịch vụ gói quà nghệ thuật</a>
                        </li>
                        <li>
                            <i class="fas fa-heart colorPink heartIcon"></i>
                            <a href="" class="colorPink">Dịch vụ vẽ mặt Halloween</a>
                        </li>
                        <li>
                            <i class="fas fa-heart colorPink heartIcon"></i>
                            <a href="" class="colorPink">Dịch vụ Ông già&nbsp;Noel&nbsp;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="col3">
            <span id="nen9box" class="nen3Icon">Xu hướng</span>
        </div>
    </div>
</div>


