
@{
    ViewBag.Title = "EditSubCategory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    NhocGiftShop.Models.ViewModel.SubCategoryView subCate = null;
    if (TempData["sc"] != null)
    {
        subCate = (NhocGiftShop.Models.ViewModel.SubCategoryView)TempData["sc"];
    }
}
@if (subCate != null)
{
    <section class="panel" style="margin-top:55px;">
        <header class="panel-heading">
            Edit SubCategory
        </header>
        <form action="@Url.Action("UpdateSubCate")" method="POST" enctype="multipart/form-data">
            <div class="panel-body">
                <div class="position-center">
                    <form role="form">
                        <div class="form-group">
                            <input type="hidden" name="idSC" value="@subCate.idSC" />
                            <label for="">SubCategory Name:</label>
                            <input type="text" class="form-control" name="nameSC" maxlength="70" value="@subCate.nameSC" required>
                        </div>
                        <div style="margin-bottom:10px;">
                            <label for="idCate" style="margin-right:10px;">Special:</label>
                            <select name="idCate" class="form-control input-sm m-bot15" style="width: 50%;">
                                <option selected="selected" value="@subCate.idCate">@subCate.nameCate</option>
                                @foreach (var item in NhocGiftShop.Models.Repositories.EditCbbCate(subCate.idCate))
                                {
                                    <option value="@item.idCate">@item.nameCate</option>
                                }
                            </select>
                        </div>
                        <button type="submit" name="submit" class="btn btn-info">Submit</button>
                    </form>
                </div>
            </div>
        </form>
    </section>
}
@if (TempData["rs"] != null)
{
    <script>
        $(function () {
            $("#msgModal").modal("show");
        });
    </script>
    <div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="margin:auto;">
                <div class="modal-header">
                    <h5 class="modal-title" id="msgModalLabel" style="width:50%; font-size:20px">Notification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -29px;font-size: 30px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color: coral;font-size:18px;">
                    @if (((int)TempData["rs"]) == 0)
                    {
                        <label>This name already exists!</label>
                    }
                    @if (((int)TempData["rs"]) == 2)
                    {
                        <label>The name cannot only contain whitespace!</label>
                    }
                </div>
            </div>
        </div>
    </div>
}


