@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    NhocGiftShop.Models.EntitiesModel.Category cateItem = null;
    if (TempData["c"] != null)
    {
        cateItem = (NhocGiftShop.Models.EntitiesModel.Category)TempData["c"];
    }
}

@if (cateItem != null)
{
    <a href="@Url.Action("ListCategory")" class="btn btn-sm btn-info" style="background-color:#4e73df;font-size:20px;float:right;">
        <i class="fa fa-arrow-right"></i>
    </a>

    <section class="panel" style="margin-top:55px;">
        <header class="panel-heading">
            Edit Category
        </header>
        <form action="@Url.Action("UpdateCate")" method="POST" enctype="multipart/form-data">
            <div class="panel-body">
                <div class="position-center">
                    <form role="form">
                        <div class="form-group">
                            <input type="hidden" name="idCate" value="@cateItem.idCate" />
                            <label for="">Category Name:</label>
                            <input type="text" class="form-control" name="nameCate" maxlength="70" value="@cateItem.nameCate" required>
                        </div>
                        <div style="margin-bottom:10px;">
                            <label for="cbActive" style="margin-right:10px;">Special:</label>
                            <input type="checkbox" id="cbActive" style="width:20px;height:20px;" @(cateItem.specialCate == true ? "checked" : "") />
                            <input type="hidden" name="specialCate" id="cbActiveValue" value="@(cateItem.specialCate==true?"true":"false")" />
                        </div>
                        <button type="submit" name="submit" class="btn btn-info">Submit</button>
                    </form>
                </div>

            </div>
        </form>
    </section>
    @section scripts{
        <script>
            $("#cbActive").change(function () {
                $("#cbActive").is(":checked") ? $("#cbActiveValue").val("True") : $("#cbActiveValue").val("False");
            })
        </script>
    }
}
@if (TempData["rs"] != null)
{
    <script>
        $(function () {
            $("#msgModal").modal("show");
        });
    </script>
    <div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="margin:auto;">
                <div class="modal-header">
                    <h5 class="modal-title" id="msgModalLabel" style="width:50%; font-size:20px">Notification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -29px;font-size: 30px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color: coral;font-size:18px;">
                    @if (((int)TempData["rs"]) == 0)
                    {
                        <label>This name already exists!</label>
                    }
                    @if (((int)TempData["rs"]) == 2)
                    {
                        <label>The name cannot only contain whitespace!</label>
                    }
                </div>
            </div>
        </div>
    </div>
}


